.ChiNhanh{
    background-color: rgb(255 245 235);
    max-width: 100%;
}

.title{
    margin-top: 5rem;
    color: rgb(62 38 19);
}

.GioiThieu{
    color: rgb(214 162 113);
}

.card{
    width: 35rem;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 2rem;
    border-radius: 3rem !important;
    overflow: hidden;
}
.card img  {
    width: 35rem;
    height: 20rem;
}

.card-title{
    color: rgb(62 38 19);
}

.card-text{
    color: rgb(147 106 78);
}
