.ChiNhanh{
    background-color: rgb(255 245 235);
    max-width: 100%;
}

.title{
    margin-top: 5rem;
    color: rgb(62 38 19);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

.GioiThieu{
    color: rgb(214 162 113);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.card{
    width: 35rem;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 2rem;
    border-radius: 3rem !important;
    overflow: hidden;
}
.card img  {
    width: 35rem;
    height: 20rem;
}

.card-title{
    color: rgb(62 38 19);
}

.card-text{
    color: rgb(147 106 78);
}

.NutChiNhanh{
    margin-top: 2rem;
    display: flex;
   justify-content: center;
}

.btn{
    color: red;
}

.HinhAnh{
    max-width: 100%;
}

.container{
    max-width: 100%;
}

.KhoanhKhac img{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 0.6rem;
}
