
section {
    height: calc(100vh - 4rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Banner Styles */
.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    overflow: hidden;
}

.banner-img {
    background-image: url('https://www.arch2o.com/wp-content/uploads/2022/12/Arch2O-why-did-these-10-modern-coffee-shops-designs-cause-such-a-stir-14.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-content {
    background-color: #3e261399;
    padding: 20px;
    color: #fff;
    width: 50%;
    text-align: center;
}

/* Card Styles */
.card-img-service {
    aspect-ratio: 2;
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

/* Branch Item Styles */
.branch-item {
    border-radius: 4rem !important;
}

/* Tab Styles */
.tabs {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: var(--text-color);
    transition: all 0.2s ease;
}

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: var(--text-color);
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.5s ease;
    flex: 1;
}

.tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
}

.tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}

.tab-item.active {
    opacity: 1;
}

.tab-content {
    padding: 28px 0;
    width: 100%;
}

.tab-pane {
    color: #333;
    display: none;
    width: 100%;
}

.tab-pane.active {
    display: block;
}

.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

.service-image {
    border-top-left-radius: 16rem;
    border-bottom-right-radius: 16rem;
    width: 100%;
    height: 100%;
}
